@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 5em;
  font-weight: 700;
}
h3 {
  font-size: 3.5em;
  font-weight: 700;
}
h4 {
  font-size: 2.5em;
  font-weight: 700;
}
h6 {
  font-size: 2em;
  font-weight: 700;
}

.pakage:hover {
  background-color: #abc9ff;
  transform: scale(0.95, 1.15);
  transform: translateX(0.95, 1.15);
  box-shadow: -1px 31px 21px 0px rgba(101, 102, 209, 0.69);
  -webkit-box-shadow: -1px 31px 21px 0px rgba(101, 102, 209, 0.69);
  -moz-box-shadow: -1px 31px 21px 0px rgba(101, 102, 209, 0.69);
}

.pakage {
  transition: 0.2s all ease;
}
.card-body {
  transition: 0.2s all ease;
}
.card-body:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.event-info {
  position: relative;
}
.toast {
  position: absolute;
  top: 80px;
  right: -40px;
  border-left: 10px solid blue;
}
.wedding-plus {
  position: relative;
}
.wedding-plus:before {
  content: "Hot";
  width: 50px;
  background-color: red;
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
  top: -10px;
  right: 0;
}

/* css for meida query */
@media only screen and (max-width: 576px) {
  .event-album {
    display: flex;
    flex-direction: column-reverse;
  }
}
